.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    color: #ddd;
    border-bottom: 4px solid #3c3c3c;
}
.navbar .logo{
    width: max(12vw,120px);

}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 40px;

}
.navbar li{
    cursor: pointer;
}
.navbar .nav-right{
    display: flex;
    align-items: center;
    gap: max(1vw,12px);
}
.navbar select{
    padding: 5px 8px;
    border-radius: 5px;
    border: 2px solid white;
    background: transparent;
    color: white; 
}
.navbar select option{
    background: white;
    color: black;
}
.navbar button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    background: white;
    color: black;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.nav-right button img{
    width: 13px;
    height: 13px;
}

@media (max-width: 900px){
    .navbar{
        padding: 20px 8%;
    }
    .navbar button{
        gap: 8px;
        padding: 8px 20px;
        font-size: 14px;
    }
}

@media (max-width: 768px){
    .navbar{
        padding: 20px 5%;
    }
    .navbar ul{
       display: none; 
    }
    .navbar .button img{
        width: 11px;
        height: 11px;

    }
}

